Source: jellyfin-ffmpeg
Section: video
Priority: optional
Maintainer: Jellyfin Packaging Team <packaging@jellyfin.org>
Uploaders: Jellyfin Packaging Team <packaging@jellyfin.org>
Rules-Requires-Root: no
Homepage: https://ffmpeg.org/
Standards-Version: 4.2.1
Vcs-Git: https://github.com/jellyfin/jellyfin-ffmpeg.git
Vcs-Browser: https://github.com/jellyfin/jellyfin-ffmpeg
Build-Depends:
# needed for dh
 debhelper,
# for build-profile support
 dpkg-dev,
# --enable-gnutls
 libgnutls28-dev | libgnutls-dev,
# --enable-libbluray
 libbluray-dev,
# --enable-libdrm
 libdrm-dev [!amd64],
# --enable-gmp
 libgmp-dev,
# --enable-libmp3lame
 libmp3lame-dev,
# --enable-libopus
 libopus-dev,
# --enable-libtheora
 libtheora-dev,
# --enable-libvorbis
 libvorbis-dev,
# --enable-libopenmpt
 libopenmpt-dev,
# --enable-libwebp
 libwebp-dev,
# --enable-libvpx
 libvpx-dev,
# --enable-libx264
 libx264-dev,
# --enable-libx265
 libx265-dev,
# --enable-libzvbi
 libzvbi-dev,
# --enable-cuda-llvm
 clang [!armhf !arm64],
# --enable-opencl
 ocl-icd-opencl-dev,
# used to detect libraries
 pkg-config,
# HTML documentation
 texinfo,
# assembler optimizations
 nasm

Package: jellyfin-ffmpeg6
Architecture: amd64 armhf arm64
Multi-Arch: foreign
Replaces: jellyfin-ffmpeg, jellyfin-ffmpeg5
Conflicts: jellyfin-ffmpeg, jellyfin-ffmpeg5
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: Tools for transcoding, streaming and playing of multimedia files
 FFmpeg is the leading multimedia framework, able to decode, encode, transcode,
 mux, demux, stream, filter and play pretty much anything that humans and
 machines have created. It supports the most obscure ancient formats up to the
 cutting edge.
 .
 This package contains a static build compatible with all Debian/Ubuntu
 releases, designed to facilitate Jellyfin on systems with an unpatched version
 of ffmpeg in their repository. Included files are:
  * ffmpeg: a command line tool to convert multimedia files between formats
  * ffprobe: a simple multimedia stream analyzer
  * vainfo: a command line tool to get information about local VA-API devices
