#!/usr/bin/make -f

export V=1

CONFIG := --prefix=/usr \
	--toolchain=hardened \
	--arch=$(DEB_HOST_ARCH_CPU) \
	--enable-gpl \
	--disable-ffplay \
	--disable-shared \
	--disable-vdpau \
	--disable-libxcb \
	--disable-sdl2 \
	--disable-xlib \
	--enable-fontconfig \
	--enable-gmp \
	--enable-gnutls \
	--enable-libaom \
	--enable-libass \
	--enable-libdrm \
	--enable-libfreetype \
	--enable-libfribidi \
	--enable-libmp3lame \
	--enable-libopus \
	--enable-libtheora \
	--enable-libvorbis \
	--enable-libwebp \
	--enable-libx264 \
	--enable-libx265 \
	--enable-libzvbi \
	--enable-version3 \
	--enable-static \
	--enable-vaapi \
	--enable-avresample --disable-filter=resample \
	--enable-avisynth \
	--enable-ladspa \
	--enable-libbluray \
	--enable-libbs2b \
	--enable-libcaca \
	--enable-libcdio \
	--enable-libcodec2 \
	--enable-libflite \
	--enable-libfontconfig \
	--enable-libgme \
	--enable-libgsm \
	--enable-libjack \
	--enable-libmysofa \
	--enable-libopenjpeg \
	--enable-libopenmpt \
	--enable-libpulse \
	--enable-librsvg \
	--enable-librubberband \
	--enable-libshine \
	--enable-libsnappy \
	--enable-libsoxr \
	--enable-libspeex \
	--enable-libssh \
	--enable-libtwolame \
	--enable-libvidstab \
	--enable-libvpx \
	--enable-libwavpack \
	--enable-libxml2 \
	--enable-libxvid \
	--enable-libzmq \
	--enable-lv2 \
	--enable-omx \
	--enable-openal \
	--enable-opengl \
	--enable-sdl2 \
	--enable-frei0r \
	--enable-libopencv \

# Use the default debhelper scripts, where possible.
%:
	dh $@

# Add configuration options:                                               
override_dh_auto_configure:
	./configure $(CONFIG)

# Remove the subdirectories generated for the flavors.
override_dh_auto_clean:                                                                                                           
	$(foreach flavor,$(FLAVORS),[ ! -d debian/$(flavor) ] || rm -r debian/$(flavor);)
