#!/usr/bin/make -f

export V=1

ORIG_VERSION := $(shell dpkg-parsechangelog -S version)
VERSION_SUFFIX := $(shell lsb_release -c -s)
PACKAGE_VERSION := "$(ORIG_VERSION)-$(VERSION_SUFFIX)"
FLTO_OPTIONS := auto

CONFIG := --prefix=${TARGET_DIR} \
	--target-os=linux \
	--extra-version=Jellyfin \
	--disable-doc \
	--disable-ffplay \
	--disable-static \
	--disable-libxcb \
	--disable-sdl2 \
	--disable-xlib \
	--enable-lto=${FLTO_OPTIONS} \
	--enable-gpl \
	--enable-version3 \
	--enable-shared \
	--enable-gmp \
	--enable-gnutls \
	--enable-chromaprint \
	--enable-opencl \
	--enable-libdrm \
	--enable-libxml2 \
	--enable-libass \
	--enable-libfreetype \
	--enable-libfribidi \
	--enable-libfontconfig \
	--enable-libharfbuzz \
	--enable-libbluray \
	--enable-libmp3lame \
	--enable-libopus \
	--enable-libtheora \
	--enable-libvorbis \
	--enable-libopenmpt \
	--enable-libdav1d \
	--enable-libsvtav1 \
	--enable-libwebp \
	--enable-libvpx \
	--enable-libx264 \
	--enable-libx265 \
	--enable-libzvbi \
	--enable-libzimg \
	--enable-libfdk-aac \

CONFIG_x86 := --arch=amd64 \
	--enable-libshaderc \
	--enable-libplacebo \
	--enable-vulkan \
	--enable-vaapi \
	--enable-amf \
	--enable-libvpl \
	--enable-ffnvcodec \
	--enable-cuda \
	--enable-cuda-llvm \
	--enable-cuvid \
	--enable-nvdec \
	--enable-nvenc \

CONFIG_ARM64_COMMON := --enable-ffnvcodec \
	--enable-cuda \
	--enable-cuda-llvm \
	--enable-cuvid \
	--enable-nvdec \
	--enable-nvenc \

CONFIG_ARM64 := --arch=arm64 \
	--cross-prefix=/usr/bin/aarch64-linux-gnu- \
	--toolchain=hardened \
	--enable-cross-compile \
	${CONFIG_ARM64_COMMON} \
	--enable-rkmpp \
	--enable-rkrga \

CONFIG_ARM64_NATIVE := --arch=arm64 \
	${CONFIG_ARM64_COMMON} \

CONFIG_JETSON := ${CONFIG_ARM64_NATIVE} \
	--enable-nvmpi \

HOST_ARCH := $(shell arch)
IS_JETSON := $(wildcard /sys/bus/platform/drivers/tegra-fuse)
BUILD_ARCH := ${DEB_HOST_MULTIARCH}
ifeq ($(BUILD_ARCH),x86_64-linux-gnu)
	# Native amd64 build
	CONFIG += $(CONFIG_x86)
endif
ifeq ($(BUILD_ARCH),aarch64-linux-gnu)
    ifeq ($(HOST_ARCH),aarch64)
        ifeq ($(IS_JETSON),)
            # Building ARM64 natively
            CONFIG += $(CONFIG_ARM64_NATIVE)
         else
            # Building ARM64 natively on jetson board
            CONFIG += $(CONFIG_JETSON)
            # l4t containers don't have nvidia apt packages installed, the libraries are mounted by nvidia's container runtime
            SHLIBDEPS_ARGS := -X libnvmpi.so.1.0.0
            PACKAGE_VERSION := "$(ORIG_VERSION)-$(VERSION_SUFFIX)-jetson"
         endif
    else
        # Cross-building ARM64 on AMD64
        CONFIG += $(CONFIG_ARM64)
    endif
endif

%:
	dh $@

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGE_VERSION)

override_dh_auto_configure:
	./configure $(CONFIG)

override_dh_shlibdeps:
	dh_shlibdeps $(SHLIBDEPS_ARGS)

override_dh_auto_clean:
	dh_auto_clean || true

override_dh_auto_install:

override_dh_usrlocal:

override_dh_auto_test:

override_dh_installman:
